name: deploy service to prod k8s

on:
  push:
    branches:
      - master
  pull_request:

env:
  GITHUB_REGISTRY: ghcr.io

jobs:
  
  build-image:
    name: Build and push service image
    runs-on: ubuntu-22.04
    steps:
      - name: checkout
        uses: actions/checkout@v1
      - name: Build and push image
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin
          docker build -t $GITHUB_REGISTRY/tourmalinecore/inner-circle/documents-api:latest -t $GITHUB_REGISTRY/tourmalinecore/inner-circle/documents-api:${{ github.sha }} -f Api/Dockerfile .
          docker push $GITHUB_REGISTRY/tourmalinecore/inner-circle/documents-api:latest
          docker push $GITHUB_REGISTRY/tourmalinecore/inner-circle/documents-api:${{ github.sha }}
  
  deploy-to-prod-k8s:
    needs: build-image
    name: Deploy service to k8s for prod environment  
    if: github.event_name == 'push'
    runs-on: ubuntu-22.04
    steps:
      - name: checkout
        uses: actions/checkout@v1
      - name: Deploy
        uses: WyriHaximus/github-action-helm3@v3
        with:
          exec: |
            RELEASE_NAME=documents-api
            helm repo add bitnami https://charts.bitnami.com/bitnami
            helm upgrade --install --namespace dev-inner-circle --create-namespace --values ./Api/ci/values-custom.yaml \
            --set "ingress.enabled=true" \
            --set "ingress.hostname=${{ secrets.HOST }}" \
            --set "image.tag=${{ github.sha }}" \
            --set "extraSecretEnvVars.ConnectionStrings__DefaultConnection=${{ secrets.POSTGRESQL_CONNECTION_STRING }}" \
            --set "extraSecretEnvVars.AuthenticationOptions__PublicSigningKey=${{ secrets.PUBLIC_SIGNING_KEY }}" \
            --set "extraSecretEnvVars.InnerCircleServiceUrls__EmployeesServiceUrl=${{ secrets.SALARY_SERVICE_URL }}" \
            --set "extraSecretEnvVars.InnerCircleServiceUrls__EmailSenderServiceUrl=${{ secrets.EMAIL_SENDER_SERVICE_URL }}" \
            "${RELEASE_NAME}" \
            bitnami/aspnet-core --version 4.4.7
          kubeconfig: "${{ secrets.KUBECONFIG }}"
  
